.product-table th {
    background-color: brown;
    color: white;
}

.product-table table {
    width: 100%;
}

.product-table .Par {
    background-color: #ddd;
}

.product-table .Impar {
    background-color: #ccc;
}


